<style>
.id_{{ section.id }}{
  max-width:100%;
  width:100%;
  padding:60px 0px;
  background-color:#3540b3;
}
.id_{{ section.id }} .container{
  
}


.id_{{ section.id }} .container .content{
  max-width:600px;
  width:100%;
  padding:0px 0px 0px 0px;
  margin:0px auto;
}
  
.id_{{ section.id }} h2{
    font-size: 40px;
    line-height: 120%;
    font-weight: 300;
    color: #ffffff;
    margin: 0px 0px 30px 0px;
    text-align: center; 
}



 .id_{{ section.id }} h3{
     font-size: 18px;
    line-height: 140%;
    font-weight: 300;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
   padding:10px 24px 10px 0px;
    border: solid #e7e7eb;
    border-width: 0px 0px 1px 0px;
    position: relative;
 }
  .id_{{ section.id }} h3::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #ffffff;
    right: 5px;
    top: 50%;
    transform: rotate(90deg);
    transition: 0.2s ease-out;
  } 
 .id_{{ section.id }} h3.active::after{
   transform: rotate(0deg);
 }
  .id_{{ section.id }} h3::before{
    content:"";
    position: absolute;
    width: 18px;
    height: 2px;
    right: 5px;
    top: 50%;
    background-color: #ffffff;
    display: block;
  }
 .id_{{ section.id }} .panel {
  padding: 0px 0px;
   margin:0px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
 .id_{{ section.id }} .panel p{
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    color: #ffffff;
    margin: 10px 0px 10px 0px;
}  
  
@media(max-width:768px){

.id_{{ section.id }}{
  padding:40px 20px;
}

  
.id_{{ section.id }} .container .content{
  max-width:100%;
}

  
  .id_{{ section.id }} h2{
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}
.id_{{ section.id }} h3{
    font-size: 18px;
    margin: 0px 0px 0px 0px;
}
  
 .id_{{ section.id }} .panel p{
    font-size: 16px;
} 

 .id_{{ section.id }} h3::after{
    width: 17px;
  } 
  .id_{{ section.id }} h3::before{
    width: 17px;
  }

  
 } /*media query */
  
</style>



<section class="id_{{ section.id }}">
  <div class="container">
    {% if section.settings.title != blank %}
     <h2>{{ section.settings.title }}</h2> 
     {% endif %}

                <div class="content">  
                   {% for block in section.blocks %}
                     {% case block.type %}
                       {% when 'accordion' %}
                          <div> 
                           <h3 class="{{ section.id }}accordion">{{ block.settings.title }}</h3>
                           <div class="panel"> <p>{{ block.settings.des }}</p> </div>
                       </div>
                     {% endcase %}
                {% endfor %}
              </div>
 

  </div>
</section>

<script>
var acc = document.getElementsByClassName("{{ section.id }}accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>



{% schema %}
  {
   "name": "Forme Accordion",
    "settings": [
        {
        "type": "text",
        "label": "Title",
        "id": "title",
        "default":"What Makes Love, Indus Different?"
      }
    ],
    "blocks": [
    
      {
        "type": "accordion",
         "name":" Accordion",
        "settings": [
        {
        "type": "text",
        "label": "Title",
        "id": "title",
        "default":"We build You a Foundation for Better Performance"
      },
      {
        "type": "textarea",
        "label": "Description",
        "id": "des"
      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Indus Accordion"
      }
    ]
  }
{% endschema %}